extends layout 

block content 

    h1 About Downtown Donuts 

    p Downtown Donuts has proudly served the community since 1992.

    p We are committed to making fresh donuts every morning while providing a warm, welcoming atmosphere for our customers.

    p Our goal is to provide high- quality baked goods, friendly customer service, and a cozy place for the community to enjoy fresh coffee and donuts.