extends layout

block content
  h1 Downtown Donuts

  h2 Fresh Donuts & Coffee Since 1992

  p Welcome to Downtown Donuts! We are a family-owned bakery serving fresh donuts, pastries, and coffee to our community.

  img(src="/images/downtownDonutsw.png" alt="Downtown Donuts Logo") 

  p
    a(href="/menu") View Our Menu 
  
  p
    a(href="/about") Learn About Us
  
  p
    a(href="/comments") Customer Comments
