extends layout

block content 

    h1 Our Menu 

    p Fresh donuts made daily.
    
    //Inventory
    ul 
        li Glazed Donut 
        li Chocolate Donut 
        li Apple Fritter 
        li Coffee 
        li Latte 
    

    h2 Order Online 

    p 
        a(href="https://www.doordash.com") DoorDash 
    
    p 
        a(href="https://www.ubereats.com") Uber Eats
    
    .menu-image 
        img(src="/images/coffeecup.jpg", alt="Coffee Cup")
    